<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/hamburguer.css">  <!--ESTILO MENU HAMBURGUESA-->
    <link rel="stylesheet" href="./css/Productos.css"><!--ESTILOS ACA-->
    <link rel="icon" type ="image/jpg" href="./imagenes/tomato.icon.jpg">
    <link rel="stylesheet" href="css/mediaQuery.css">
    <link rel="icon" type ="image/jpg" href="./imagenes/tomato.icon.jpg">
    <title>NOSOTROS</title>
</head>
<body>

    <div  class="container_nosotros">
         <h1 class="nosotros">NOSOTROS</h1>   
    </div>
    
    <div class="slider">
        <div class="slider-slides">
            <div class="slider-slide active">
                
                <p class="descp">TOMATO  es un pequeño empredimiento que ofrece productos Saludables, Organicos y deliciosos y con una
                    variedad que se adapta a tus necesidades.
                    
                    Nuestra Tienda ,ofrece un servicio Completo para la compra de tus productos Favoritos :
                    que incluye. Alimentos Saludables, Suplementos, Productos de Cuidado Personal
               </p>
            </div>



            <div class="slider-slide">
                <img class="imgSlider" src="./imagenes/frutosSecos.jpg" alt="FrutosSecos">
        
            </div>
            
            <div class="slider-slide">
                <img class="imgSlider" src="./imagenes/mousse_cafe_vegana1.jpg" alt="mouseCafe" srcset="">
            </div>
            <div class="slider-slide ">
                <p class="descp">   Trabajamos para ofrecerte productos que ayuden a mejorar tus habitos alimenticios para un estilo de Vida mas Saludable

                </p>
            </div>
            <div class="slider-slide">
                <img class="imgSlider" src="./imagenes/frutosCafe.jpg" alt="mouseCafe" srcset="">   
            </div>
            <div class="slider-slide">
               
                <p class="descp2">
                 !!!!Gracias Por Preferirnos!!!
                </p>
            </div>
                
            
        </div>

        <div class="slider-btns">
            <a class="prev" href="#">&laquo;</a>
            <a class="next" href="#">&raquo;</a>
        </div>


    </div>


<script src="./js/dom.js" type="module"></script>

</body>
</html>