<h2>🥦  PRODUCTOS  🥦</h2>
    <a href="./productosAlmacen" target="_blank">ALMACEN</a>
    <a href="./productoBebidas" target="_blank">BEDIDAS</a>
    <a href="./frutasVerduras" target="_blank">FRUTAS VERDURAS</a>
    <a href="./productosLacteos" target="_blank">LACTEOS </a>
    <a href="./productoVeganos" target="_blank">VEGANOS</a>